<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/gduran-as/IdeaProjects/AutomationStage4">
        <parameter name="baseUrl" value="http://qa-trainingw7:86/"/>
        <parameter name="browserType" value="chrome"/>
        <parameter name="executionType" value="local"/>
        <classes>
<!--            <class name="tests.HomeTest"/>-->
<!--            <class name="tests.LoginTest"/>-->
<!--            <class name="tests.MyAdsAndProfileTest"/>-->
            <class name="tests.PostAnAdTest"/>
<!--            <class name="tests.RegisterTest"/>-->
        </classes>
    </test>
</suite>